<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sayo.qa.dao.SampleMapper" >
  <resultMap id="BaseResultMap" type="com.sayo.qa.entity.Sample" >
    <id column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="basic_number" property="basicNumber" jdbcType="INTEGER" />
    <result column="sample_number" property="sampleNumber" jdbcType="INTEGER" />
    <result column="sample_date" property="sampleDate" jdbcType="DATE" />
    <result column="sample_method" property="sampleMethod" jdbcType="VARCHAR" />
    <result column="sample_quantity" property="sampleQuantity" jdbcType="INTEGER" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    task_id, type, basic_number, sample_number, sample_date, sample_method, sample_quantity, 
    place, notes, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sample
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sample
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sayo.qa.entity.Sample" >
    insert into sample (task_id, type, basic_number, 
      sample_number, sample_date, sample_method, 
      sample_quantity, place, notes, 
      status)
    values (#{taskId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{basicNumber,jdbcType=INTEGER}, 
      #{sampleNumber,jdbcType=INTEGER}, #{sampleDate,jdbcType=DATE}, #{sampleMethod,jdbcType=VARCHAR}, 
      #{sampleQuantity,jdbcType=INTEGER}, #{place,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sayo.qa.entity.Sample" >
    insert into sample
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="basicNumber != null" >
        basic_number,
      </if>
      <if test="sampleNumber != null" >
        sample_number,
      </if>
      <if test="sampleDate != null" >
        sample_date,
      </if>
      <if test="sampleMethod != null" >
        sample_method,
      </if>
      <if test="sampleQuantity != null" >
        sample_quantity,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="basicNumber != null" >
        #{basicNumber,jdbcType=INTEGER},
      </if>
      <if test="sampleNumber != null" >
        #{sampleNumber,jdbcType=INTEGER},
      </if>
      <if test="sampleDate != null" >
        #{sampleDate,jdbcType=DATE},
      </if>
      <if test="sampleMethod != null" >
        #{sampleMethod,jdbcType=VARCHAR},
      </if>
      <if test="sampleQuantity != null" >
        #{sampleQuantity,jdbcType=INTEGER},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sayo.qa.entity.Sample" >
    update sample
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="basicNumber != null" >
        basic_number = #{basicNumber,jdbcType=INTEGER},
      </if>
      <if test="sampleNumber != null" >
        sample_number = #{sampleNumber,jdbcType=INTEGER},
      </if>
      <if test="sampleDate != null" >
        sample_date = #{sampleDate,jdbcType=DATE},
      </if>
      <if test="sampleMethod != null" >
        sample_method = #{sampleMethod,jdbcType=VARCHAR},
      </if>
      <if test="sampleQuantity != null" >
        sample_quantity = #{sampleQuantity,jdbcType=INTEGER},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sayo.qa.entity.Sample" >
    update sample
    set type = #{type,jdbcType=VARCHAR},
      basic_number = #{basicNumber,jdbcType=INTEGER},
      sample_number = #{sampleNumber,jdbcType=INTEGER},
      sample_date = #{sampleDate,jdbcType=DATE},
      sample_method = #{sampleMethod,jdbcType=VARCHAR},
      sample_quantity = #{sampleQuantity,jdbcType=INTEGER},
      place = #{place,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>